# Dart/Pub related
.dart_tool/
.packages
.pub/

# Flutter build output
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# IDEs
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig

# MacOS
macos/Flutter/Flutter.framework
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/

# Web
web/generated/

# Linux & Windows
linux/flutter/
windows/flutter/

# Sensitive files
.env
*.keystore
*.jks
*.pem
